In [6]:
import pandas
import pylab
from pandas import *
from pylab import *

In [9]:
names = read_csv('test.csv')

In [13]:
names[3:9]

,id,feat_1,feat_2,feat_3,feat_4,feat_5,feat_6,feat_7,feat_8,feat_9,...,feat_84,feat_85,feat_86,feat_87,feat_88,feat_89,feat_90,feat_91,feat_92,feat_93
3,4,0,0,0,1,0,0,0,0,0,...,0,3,1,0,0,0,0,0,0,0
4,5,1,0,0,1,0,0,1,2,0,...,0,0,0,0,0,0,0,9,0,0
5,6,0,0,0,0,0,0,0,0,17,...,0,0,1,1,1,0,0,0,0,0
6,7,0,0,0,0,0,0,0,0,0,...,0,3,0,0,1,0,18,1,0,0
7,8,2,0,0,0,0,0,0,0,0,...,0,0,1,0,2,0,0,0,0,0
8,9,0,0,0,0,1,0,0,0,0,...,0,0,1,0,5,0,0,0,0,0

In [21]:
names.ix[2:4,['feat_1','feat_3']]

   feat_1  feat_3
2       0      12
3       0       0
4       1       0